.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #222d32;
}

small {
  font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0px;
}

.sidenav-accordion {
  width: 250px;
  background-color: #222d32;
  color: white;
}

.sidenav-accordion:hover {
  width: 250px;
  background-color: #192A40;
  color: white;
}

.list {
  color: #ffffff;
}

.list:hover {
  background-color: #1B2E40;
}

.sidenav .mat-toolbar {
  background: #192A40;
  color: #ffffff;
}

.toolbar {
  background: #1C618C;
  color: #fff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.disable_ripple:hover {
  color: #1B2E40;
  background: currentColor !important;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  color: white;
}

.border-usco-white {
  border: solid 3px white;
}

.item-principal {
  padding-top: 8px;
  color: #ffffff;
}

.mat-sidenav-content {
  position: relative; /* Asegura que la posición relativa esté habilitada en el contenedor */
}

.mat-toolbar {
  position: sticky;
  top: 0; /* Fija la barra de herramientas en la parte superior */
  z-index: 2; /* Asegura que la barra de herramientas esté por encima del contenido */
}
