<app-navbar>
  <div class="text-center">
    <div class="card mt-5">
      <div
        class="card-header text-center ml-4 mr-4 cursor-select"
        [routerLink]="['/inicio']"
        routerLinkActive="router-link-active"
      >
        <h4 class="mt-1">Personal vinculado</h4>
      </div>
      <div class="card-body">
        <div class="row text-right">
          <div class="col">
            <button class="btn btn-usco-vt" (click)="registrarFormulario()">
              <i class="fa-solid fa-plus"></i> Registrar
            </button>
          </div>
        </div>
        <fieldset class="scheduler-border shadow-sm">
          <legend class="scheduler-border">Filtros</legend>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="SEXO BIOLÓGICO"
                  [(ngModel)]="sexo"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let item of generos"
                    [value]="item.nombre"
                    >{{ item.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="ESTRATO"
                  [(ngModel)]="estrato"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let item of estratos"
                    [value]="item.nombre"
                    >{{ item.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-select
                  class="font-sm-corhuila"
                  placeholder="MUNICIPIO"
                  [(ngModel)]="municipio"
                >
                  <mat-option
                    class="font-sm-corhuila"
                    *ngFor="let item of municipios"
                    [value]="item.nombre"
                    >{{ item.nombre }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <mat-form-field class="example-full-width" appearance="outline">
                <input
                  matInput
                  type="text"
                  (keyup)="filtrar($event)"
                  [(ngModel)]="palabrasClaves"
                  placeholder="PALABRAS CLAVES"
                />
                <button
                  matSuffix
                  style="text-decoration: none; background: none; border: none"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-corhuila-p-1" (click)="restaurar()">
                <i class="fa-solid fa-rotate-right"></i> Restaurar
              </button>
            </div>
          </div>
        </fieldset>
        <div class="row mt-2">
          <div class="col">
            <table
              mat-table
              [dataSource]="
                dataSource
                  | filtroSexoBiologico : 'sexoBiologicoNombre' : sexo
                  | filtroEstrato : 'estratoNombre' : estrato
                  | filtroMunicipio : 'municipioResidencia' : municipio
              "
              class="table table-hover shadow"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>N°</th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="font-sm-usco"
                >
                  {{ dataSource.filteredData.indexOf(element) + 1 }}
                </td>
              </ng-container>
              <ng-container matColumnDef="identificacion">
                <th mat-header-cell *matHeaderCellDef>Identificación</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.tipoId.nombreCorto }} -
                  {{ element.identificacion }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.apellido }} {{ element.nombre }}
                </td>
              </ng-container>
              <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef>Fecha nacimiento</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.fechaNacimiento | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="telefononoMovil">
                <th mat-header-cell *matHeaderCellDef>Telefono</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.movil }}
                </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Correo</th>
                <td mat-cell *matCellDef="let element" class="font-sm-usco">
                  {{ element.correo }}
                </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    *ngIf="element.estado === 1"
                    class="btn btn-success btn-sm mr-2"
                    title="Activo"
                  >
                    <i class="fa-solid fa-check fa-xs"></i>
                  </button>
                  <button
                    *ngIf="element.estado !== 1"
                    class="btn btn-secondary btn-sm mr-2"
                    title="Inactivo"
                  >
                    <i class="fa-solid fa-square-minus fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-info btn-sm mr-2"
                    title="Informacion"
                  >
                    <i class="fa-solid fa-eye fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-delete btn-sm mr-2"
                    (click)="eliminarPersona(element)"
                    title="Borrar"
                  >
                    <i class="fa-solid fa-trash fa-xs"></i>
                  </button>
                  <button
                    class="btn btn-corhuila-editar btn-sm"
                    (click)="editarPersona(element)"
                  >
                    <i class="fa-solid fa-pencil fa-xs"></i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[10, 20, 30]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navbar>
